.carousel-bs > .carousel-inner > .item {
  transition: none;
}

.carousel-bs > .carousel-inner > .item.active-remove, .carousel-bs > .carousel-inner > .item.active-add, .carousel-caption-parallax {
  transition: transform 1s ease-in-out;
}

.carousel-bs > .carousel-inner > .item.active-remove {
  position: absolute;
}

.carousel-bs > .carousel-inner > .item.active-remove, .carousel-bs > .carousel-inner > .item.active-add {
  top: 0;
  width: 100%;
  display: block;
}

.carousel-bs > .carousel-inner > .item.active-remove-active, 
.carousel-bs > .carousel-inner > .item.active-remove-active > .carousel-caption-parallax {
  transform: translate3d(-100%, 0, 0);
}

.carousel-bs.left > .carousel-inner > .item.active-remove-active,
.carousel-bs.left > .carousel-inner > .item.active-remove-active > .carousel-caption-parallax {
  transform: translate3d(100%, 0, 0);
}

.carousel-bs > .carousel-inner > .item.active-add,
.carousel-bs > .carousel-inner > .item.active-add > .carousel-caption-parallax {
  transform: translate3d(100%, 0, 0);
}

.carousel-bs.left > .carousel-inner > .item.active-add,
.carousel-bs.left > .carousel-inner > .item.active-add > .carousel-caption-parallax {
  transform: translate3d(-100%, 0, 0);
}

.carousel-bs > .carousel-inner > .item.active-add-active, 
.carousel-bs.left > .carousel-inner > .item.active-add-active,
.carousel-bs > .carousel-inner > .item.active-add-active > .carousel-caption-parallax,
.carousel-bs.left > .carousel-inner > .item.active-add-active > .carousel-caption-parallax {
  transform: translate3d(0, 0, 0);
}